html{
  scroll-behavior: smooth;
}
body{
margin: 0px;
}
@font-face {
    font-family: 'BEBAS__';
    src: url('typos/BEBAS__.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('typos/CaviarDreams.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('typos/Roboto-Light.ttf');
}

h1{
  font-family : BEBAS__;
  
}

h2{
  font-family: CaviarDreams;
}
nav
{   
    float: left;
    width: 150px;
    border-radius:2px;
    box-shadow:2px 2px 5px #aaa;
    position: fixed;
}
.titrePage
{
  display:flex;
  flex-direction:column
  margin:auto;
  padding: auto;

}
.Valider{
  border-radius:10px;
  width:85px;
  height:35px;
  background: #66B14B;
  color:#eee;
  border-color: #3090E3;
  font:bold 13px Arial;
}
.Valider:active{
  background: #66B14B;
  border-color: #F6F1F0;
  color:#eee;
}

.titreP{
  margin:auto;
  padding: auto;
}
.zoneArticle{
background-color:#F3F3F3;
border-radius:1px;margin:0 0 10px;
padding:50px;
margin: 12;

}
.section{
  margin: 35px auto;
  max-width:935px;
  width:100%;
  padding: 50px;
  background-color:#F3F3F3;
  border-radius:10px;
  border:3px solid #e6e6e6;
}
.art
{
    position: center;
    border-radius:2px;
    box-shadow:2px 2px 5px #aaa;
    padding: 4px 4px 4px 4px ;
    text-align: left;    
}
.texte
{
  margin-left: 170px;
  background-color: #D4E7E6;
}
.menuNav{
  
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #C1C0C0;
}
#navigation li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
#navigation li a:hover{
  background-color: #555;
  color: white;
}

p{
  font:-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
}



