body {
    padding:0;
    margin:0;
}


h1{
  font-family : CaviarDreams-Bold;
  font-size: 25px;
}


h2{
  font-family: CaviarDreams;
  font-size: 40px;
  font-style: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3
{
	text-align: center;
	font-size: 40px;
	font-family: Roboto-Black;
  background: #28292A;
  color: white;
}

p{
	text-align: justify;
	font-family: Roboto-Light;
}

/*-----Effet sur la barre de sélection-----*/

nav{
  width: 100%;
  margin:  0 auto;
  background: #28292A;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 32%;
  text-align: center;
  position: relative;
  font-family: CaviarDreams-Bold;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  background: #28292A;
}

/*Quand on passe la souris sur les catégories (thème 1, thème 2, etc)*/

nav a:hover{
  color: rgb(90,157,215);
  /*border-bottom: 2px solid rgb(130,197,254);*/
      box-shadow: 
      0 -1px 0 hsl(210, 100%, 42%) inset, 
      0 -2px 0 hsl(210, 100%, 48%) inset, 
      0 -3px 0 hsl(210, 100%, 54%) inset, 
      0 -4px 0 hsl(210, 100%, 60%) inset, 
      0 -5px 0 hsl(210, 100%, 70%) inset; 
}

nav > ul li:hover .sous{
  display: block;
  background: #28292A;
}

/*-----Barre thème/questions et autres-----*/

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  position: absolute;
  width: 92%;
  z-index: 1000;
  font-weight: normal;
  font-size: 14px;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
}

.sous a{
  padding: 10px;
  border-bottom: none;
}

.sous a:hover{
  border-bottom: none;
  background-color: #555555;
}


.deroulant > a::after{
  content: "▼";
  font-size: 16px;
}

.deroulant{
  font-size: 20px;
  font-weight: bold;
}

/*-----Moteur de recherche & Modifier-----*/

.recherche{
  text-align: right;
  margin-right: 10px;
}

.champ_saisie{
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
}

.bouton_recherche{
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background: #28292A;
}

.edit{
  margin-left: 10px;
}

.bouton_modifier{
  border-radius: 10px;
  background: red;
  font-weight: bold;
}
