@font-face {
    font-family: 'BEBAS__';
    src: url('typos/BEBAS__.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('typos/CaviarDreams.ttf');
}

@font-face {
    font-family: 'CaviarDreams-Bold';
    src: url('typos/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('typos/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('typos/Roboto-Black.ttf');
}

body {
    padding:0;
    margin:0;
}

img {
  width : 100px;
  height: auto;
  padding : 15px;

}

.logo {
  height: 50px;
  width:auto;
  padding : 15px;
}

header {
  background: #28292A;
  display : flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* effet barre 3d bas de header */
    box-shadow: 
      0 -1px 0 hsl(210, 100%, 42%) inset, 
      0 -2px 0 hsl(210, 100%, 48%) inset, 
      0 -3px 0 hsl(210, 100%, 54%) inset, 
      0 -4px 0 hsl(210, 100%, 60%) inset, 
      0 -5px 0 hsl(210, 100%, 70%) inset; 
}

.co_ins{  
  padding-right: 15px;
}

/* boutons de connexion et d'inscription */

.co_ins{
  margin-top: auto;
  margin-bottom: auto;
}

.at_coins{
    font:bold 15px Roboto-Light;
    color: white;
    text-decoration: none;
    padding:10px 10px 10px 10px;
    background: #28292A;
    border-radius:10px;
    border: 2px solid hsl(210, 100%, 54%);
}
.at_coins:hover{
  box-shadow:2px 2px 8px #00D4FF;
  color : #00D4FF;
}

.at_coins:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px #00D4FF;
}

/* ------------- */

.slogan{
  font-family: CaviarDreams;
  color: white;
  /* effet de 3D sur le texte */
  text-shadow:
  0 1px 0 #ccc,
  0 2px 0 #b5b5b5,
  0 3px 0 rgba(0,0,0,.5)
/*0 3px 0 #9b9b9b,
  0 4px 0 #898989
  0 5px 0 #7b7b7b,
  0 6px 0 #626262,
  0 7px 0 rgba(0,0,0,.5)*/
  ;

}


h1{
  font-family : CaviarDreams-Bold;
  font-size: 25px;
}


h2{
  font-family: CaviarDreams;
  font-size: 30px;
  font-style: bold;
  text-align: center;
}

h3
{
	text-align: center;
	font-size: 40px;
	font-family: Roboto-Black;
  background-color: rgb(203, 230, 248);
}

p{
	text-align: justify;
	font-family: Roboto-Light;
}

nav{
  width: 100%;
  margin:  0 auto;
  background-color: rgb(203, 230, 248);
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
  font-family: CaviarDreams-Bold;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: rgb(130,197,254);
  border-bottom: 2px solid rgb(130,197,254);
}

nav > ul li:hover .sous{
  display: block;
}


.question{
	font-size: 24px;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 86.4%;
  z-index: 1000;
  font-weight: normal;
  font-size: 14px;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
}

.sous a{
  padding: 10px;
  border-bottom: none;
}

.sous a:hover{
  border-bottom: none;
  background-color: rgba(180,180,180,0.1);
}

.deroulant > a::after{
  content: "▼";
  font-size: 16px;
}

.deroulant{
  font-size: 20px;
  font-weight: bold;
}

.deroulant_autre{
  font-size: 20px;
  font-weight: bold;
}