footer{
  background: #28292A;
  display : flex;
  flex-wrap: wrap;
  
  /* effet barre 3d bas de header */
  box-shadow: 
      0 -1px 0 hsl(210, 100%, 42%) inset, 
      0 -2px 0 hsl(210, 100%, 48%) inset, 
      0 -3px 0 hsl(210, 100%, 54%) inset, 
      0 -4px 0 hsl(210, 100%, 60%) inset, 
      0 -5px 0 hsl(210, 100%, 70%) inset; 
}

.boutons_link{
  display:flex;
  justify-content: space-around;


}

.bouton_footer {

    font: 17px Roboto-Black;
    color:#3281E0;
    background: #F6F1F0;
    border-color: #3090E3;
    border-radius:10px;
    width:auto;
    height:auto;
    margin-top: auto;
    margin-bottom: auto;
}
.bouton_footer:hover{
box-shadow:2px 2px 8px #BD9C43;
}