@font-face {
    font-family: 'BEBAS__';
    src: url('typos/BEBAS__.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('typos/CaviarDreams.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('typos/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('typos/Roboto-Black.ttf');
}

.logo {
  height: 50px;
  width:auto;
  padding : 15px;
  margin-right: 100px;
}

.top_header {
	background: #28292A;
  display : flex;
  flex-wrap: wrap;
  
  /* effet barre 3d bas de header */
    box-shadow: 
      0 -1px 0 hsl(210, 100%, 42%) inset, 
      0 -2px 0 hsl(210, 100%, 48%) inset, 
      0 -3px 0 hsl(210, 100%, 54%) inset, 
      0 -4px 0 hsl(210, 100%, 60%) inset, 
      0 -5px 0 hsl(210, 100%, 70%) inset; 
}
.center{
  margin: auto;
}
h1{
  text-align: center;
}

/* boutons de connexion et d'inscription */

.co_ins{
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;

}

.at_coins{
    font:bold 15px Roboto-Light;
    color: white;
    text-decoration: none;
    padding:10px 10px 10px 10px;
    background: #28292A;
    border-radius:10px;
    border: 2px solid hsl(210, 100%, 54%);
}
.at_coins:hover{
  box-shadow:2px 2px 8px #00D4FF;
  color : #00D4FF;
}

.at_coins:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px #00D4FF;
}

/* ------------- */

.slogan{
  font-family: CaviarDreams;
  color: white;
  /* effet de 3D sur le texte */
  text-shadow:
  0 1px 0 #ccc,
  0 2px 0 #b5b5b5,
  0 3px 0 rgba(0,0,0,.5)
/*0 3px 0 #9b9b9b,
  0 4px 0 #898989
  0 5px 0 #7b7b7b,
  0 6px 0 #626262,
  0 7px 0 rgba(0,0,0,.5)*/
  ;

}

/* -----------------------
------------- MENU -------
-------------------------*/

.menu{

    display: table;
    width: auto;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;


    /* background: linear-gradient(white, #9ac8e7); */
    background-color: #28292A;/*#9ac8e7;*/

    

    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}

.menu li{
    display: table-cell;
}

.limenu a {
  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: white;/*rgba(0, 0, 0, .7); */
  text-decoration: none;
  padding: 8px 8px 17px 8px;

  /*text-shadow: 0 1px 0 rgba(255, 255, 255, .4);*/

  transition: all .3s; /* on vient agir sur toutes les transitions du hover/focus */
  
}

.limenu a:hover:not(.title_menu), 
.limenu a:focus:not(.title_menu){
    background: rgba(255,255,255,.2);
    box-shadow: 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
    padding: 8px 25px 17px 25px;
}

.limenu a:active:not(.title_menu){
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}


.title_menu {
  background-color: hsl(210, 100%, 60%);
}

.title_menu:hover{
  background: rgba(255,255,255,.2);
}

/* -----------------------
------------- MENU -------
-------------------------*/



