body {
  background-color: #e9e8e8;
  margin: 0%;
}

/* IMAGES ----------------------------------------- */

.ban{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 5%;
}


.ban .image{
  margin: auto;
  width: 90%;
  height: auto;
  box-shadow: 10px 5px 5px rgba(100,100,100,1);
  /*border : 3px black inset;*/
}

/* boutons : en savoir plus, se connecter, se connecter */

.know_more{
  
  margin: -7% 0% 10% 47%;
  justify-content: center;
  align-content: center;
}

.je_me_connecte{
  margin: -24% 48% 30% 0%;
  justify-content: center;
  align-content: center;
}

.connect_guest{
  margin: -24% 0% 30% 48%;
  justify-content: center;
  align-content: center;
}

.go_connex_user , .go_connex_gest , .enSavoirPlus {
  

  font:bold 25px Roboto-Light;
  color: white;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  background: #28292A;
  border-radius:10px;
  border: 0px solid white;
  box-shadow:0px 0px 3px 0.5px white;

}

.go_connex_user:hover , .go_connex_gest:hover , .enSavoirPlus:hover{
  
  color : #00D4FF;
}

.go_connex_user:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}

.go_connex_gest:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}
.enSAvoirPlus:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}



