body {
  background-color: #e9e8e8;
}

/* IMAGES ----------------------------------------- */

.ban{
  margin: 5%;
}


.ban .image{
  width: 90%;
  height: auto;
  box-shadow: 10px 5px 5px rgba(100,100,100,1);
  /*border : 3px black inset;*/
}

/* bouton EN SAVOIR PLUS */

.know_more{

  position: absolute;
  bottom: 130px;
  right: 350px;

  font:bold 30px Roboto-Light;
  color: white;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  background: #28292A;
  border-radius:10px;
  border: 2px solid white;
  box-shadow:2px 2px 8px rgba(100,100,100,1);

}

.know_more:hover{
  
  color : #00D4FF;
}

.know_more:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}

/* bouton : Se connecter; */

.go_connex_user{
  position: absolute;
  bottom: -150px;
  left: 325px;

  font:bold 28px Roboto-Light;
  color: white;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  background: #28292A;
  border-radius:10px;
  border: 2px solid white;
  box-shadow:2px 2px 8px rgba(100,100,100,1);

}

.go_connex_user:hover{
  
  color : #00D4FF;
}

.go_connex_user:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}

.go_connex_gest{
  position: absolute;
  bottom: -660px;
  right: 320px;

  font:bold 28px Roboto-Light;
  color: white;
  text-decoration: none;
  padding:10px 10px 10px 10px;
  background: #28292A;
  border-radius:10px;
  border: 2px solid white;
  box-shadow:2px 2px 8px rgba(100,100,100,1);

}

.go_connex_gest:hover{
  
  color : #00D4FF;
}

.go_connex_gest:active{
    color:white;
    border-color: #F6F1F0;
    box-shadow:2px 2px 8px white;
}




