body {
  background-color: #e9e8e8;
}





/* -----------------------------------------
------ BODY -------------------------------- */

/* IMAGES ----------------------------------------- */

/* ---- image 1 ------ */

.img_test {
  position: relative;
  width: 400px;
}
/* Image originale */
.img_test .image {
  display: block;
  width: 100%;
  height: auto;
}
/* Texte original */
.img_test .text {
 color: #fff;
 font-size: 20px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}



.img_test .hover {
  margin-left: 15px;
  margin-top: 16px;
  position: absolute;
  top: 0;
  height: 93%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}
/* Apparition overlay sur passage souris */
.img_test:hover .hover{
 opacity: 1;
}

.img_test .normal {
 transition: .5s ease;
}
.img_test:hover .normal {
 opacity: 0;
}




/* ---- image 2 ------ */




.img_user {
  
  position: relative;
  width: 400px;
}
/* Image originale */
.img_user .image {
  display: block;
  width: 100%;
  height: auto;
}
/* Texte original */
.img_user .text {
 color: #fff;
 font-size: 20px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}



.img_user .hover {
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}
/* Apparition overlay sur passage souris */
.img_user:hover .hover{
 opacity: 1;
}

.img_user .normal {
 transition: .5s ease;
}
.img_user:hover .normal {
 opacity: 0;
}





/* ---- image 2 ------ */





.img_gestionnaire {
  
  position: relative;
  width: 430px;
}
/* Image originale */
.img_gestionnaire .image {
  display: block;
  width: 100%;
  height: auto;
}
/* Texte original */
.img_gestionnaire .text {
 color: #fff;
 font-size: 20px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}



.img_gestionnaire .hover {
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}
/* Apparition overlay sur passage souris */
.img_gestionnaire:hover .hover{
 opacity: 1;
}

.img_gestionnaire .normal {
 transition: .5s ease;
}
.img_gestionnaire:hover .normal {
 opacity: 0;
}



/* PARTIE SYLVAIN ----------------- */

.images_down{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}


/* BOUTONS */

.boutons_accueil{

  /* mettre ici les boutons ronds de mohamed */

}
































/* BOUTONS */

/* -----------------------------------------
------ Footer -------------------------------- */

footer{
  padding: 50px;
  background-color:#9ac8e7; 
  margin-top: 1%;

}

.boutons_link{
  display:flex;
  justify-content: space-around;

}

.bouton_footer {
    font: 17px Roboto-Black;
    color:#3281E0;
    background: #F6F1F0;
    border-color: #3090E3;
    border-radius:10px;
    width:auto;
    height:auto;
}
.bouton_footer:hover{
box-shadow:2px 2px 8px #BD9C43;
}
