html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding:0;
}
@font-face {
    font-family: 'BEBAS__';
    src: url('typos/BEBAS__.ttf');
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('typos/CaviarDreams.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('typos/Roboto-Light.ttf');
}


img {
  width : 100px;
  height: auto;
  padding : 15px;

}

header {
  background: linear-gradient(90deg,#FFFFFF, #85C1BE);
  width: 100%;
  height: auto;
  margin-bottom: auto;
  display : flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*position: fixed;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.h_title{
  margin-left: 100px;  
}

.co_ins{  
  padding-right: 15px;
}

.at_coins{
  font-family : Roboto-Light;
  text-underline-position: none;
  text-decoration: none;
  color : black;
}
.at_coins:hover{

  text-decoration: underline black; 

}

h1{
  font-family : BEBAS__;
}

h2{
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
}


/*Element de page*/
.art{
  margin: auto;
  max-width:935px;
  width:100%;
  padding: 130px;
  
}
.input-label{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
  font-size:16px;

}
.boxtotale{
    background-color:#eee;
    border:1px solid #e6e6e6;
    border-radius:1px;margin:0 0 10px;
    padding:50px;
    margin: 12;
    border-radius:10px;

}
.titrePage{
  margin:22px auto 12px
}
.entreeDeTexte{
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
font-size:16px;
display:inline-block;
color:#222427;
border:2px solid #d9d9d9;
border-radius:5px;
background:#fff
margin:10px;
}

.entreesInformations{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
}

.conteneurChamp{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:row
  justify-content: space-between;

}

.boutonValider{
  border-radius:10px;
  width:85px;
  height:35px;
  background: #F6F1F0;
  border-color: #3090E3;
  font:bold 13px Arial;
  color:#CD1F01;
}