body{
	margin:0;
}

.bannière{
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
            0 3px 5px rgba(0, 0, 0, .2),
            0 5px 10px rgba(0, 0, 0, .2),
            0 20px 20px rgba(0, 0, 0, .15);
}

.options{
	margin:5%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.catégorie{
	box-shadow: 3px 1px 5px grey;
	border: 1px solid black;
	width:400px;
	height: auto;
}

.titre_catég{

	font-family: CaviarDreams-Bold;
	font-size: 22px;
	text-align: center;
	color: #28292A;
	background-color: hsl(210, 100%, 54%);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);

}


/* ------------ GESTION MEMBRES -------------*/

.Actions{
	display:table;
	width:auto;
    margin: auto;
    padding: 0;
    list-style-type: none;
  margin-bottom: 5%;

}

.Actions li{
	display: table-cell;
}

.Actions li a {
  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: white;/*rgba(0, 0, 0, .7); */
  text-decoration: none;
  padding: 8px 8px 17px 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

  transition: all .4s; /* on vient agir sur toutes les transitions du hover/focus */
  
}

.Actions li a:hover{
	border : 3px solid #28292A;
}

.Suppr{
	background-color: #DC143C;
}

.Modif{
	background-color: #0620A8;
}

.membre {
	font-family: Roboto-Black;
	text-align: center;
	color: #28292A;
}


/* ------------ GESITON CAPTEURS -------------*/


.Add_cap{
	background-color: #32CD32;
  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: white;/*rgba(0, 0, 0, .7); */
  text-decoration: none;
  padding: 8px 8px 17px 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

  margin:10%;
  border-radius:10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);

  transition: all .4s; /* on vient agir sur toutes les transitions du hover/focus */
}

.Add_cap:hover{
	background-color: white;
	color: #32CD32 ;
	border : 3px solid #28292A;
}

.Del_cap{
	background-color: #DC143C;
}

.Modif_cap{
	background-color: #0620A8;
}


/* ------------ GESTION DU SITE -------------*/

.Gestion_site{
	display:table;
	width:auto;
	margin:auto;

	padding:0;
	list-style-type: none;
}

.Gestion_site li{

	display: table-cell;

}

.Gestion_site a {
  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: white;/*rgba(0, 0, 0, .7); */
  text-decoration: none;
  padding: 8px 8px 17px 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);

  transition: all .2s; /* on vient agir sur toutes les transitions du hover/focus */
  
}

.Gestion_site li a:hover{
	border : 3px solid #28292A;
}

.gestion_FAQ{
	background-color: #28292A;
}

.gestion_FAQ:hover{
	background-color: white;
	color:#28292A;
}

.gestion_CGU{
	background-color: hsl(210, 100%, 54%);
}

.gestion_CGU:hover{
	background-color: white;
	color: hsl(210, 100%, 54%);
}

.gestion_msg{

  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: black;/*rgba(0, 0, 0, .7); */
  text-decoration: none;

  margin: 10%;

  background-color: #e9e8e8;
  border-radius: 10px;
  padding: 8px 8px 17px 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);

  transition: all .2s; /* on vient agir sur toutes les transitions du hover/focus */	

}

.gestion_msg:hover{
	background-color: #28292A;
	color: #e9e8e8;
}


/*-----Moteur de recherche & Modifier-----*/

.titre_search {
  font-family: Roboto-Black;
  font-size:18px;
  text-align: center;
  color: #28292A;
}

.recherche{
  margin-right: 10px;
}

.champ_saisie{
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
}

.bouton_recherche{
  border-radius: 10px;
  font-weight: bold;
  font-size:15px;
  color: white;
  background: #28292A;

    transition: all .2s; /* on vient agir sur toutes les transitions du hover/focus */  

}

.bouton_recherche:hover{
  background: white;
  color: #28292A;
}

/* ----------------------------------------------- */

/* Gestion des entités */

.gest_entites{
  margin-left:10%;
  margin-right:10%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 3px 1px 5px grey;
  border: 1px solid black;
  height: auto;
}
.actions_entite{
  display:table;
  width:auto;
  margin:auto;
  margin-bottom:2%;
  padding:0;
  list-style-type: none;
}

.actions_entite li{

  display: table-cell;

}
.add_boitier{

  font-family: Roboto-Black;
  display: block;
  text-align: center;
  color: black;/*rgba(0, 0, 0, .7); */
  text-decoration: none;
  margin:2%;
  background-color: #e9e8e8;
  border-radius: 10px;
  padding: 8px 8px 17px 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);

  transition: all .2s; /* on vient agir sur toutes les transitions du hover/focus */  

}

.add_boitier:hover{
  background-color: #28292A;
  color: #e9e8e8;
}