body{
margin: 0px;
}
section{
  display: flex;
  flex-direction: row;
  
}
p{
	margin: 4px;
}
.tableInformations{
display:table;
margin: 5px;
padding: 10px;
border-spacing: 5px;
border :2px solid #aaa;
border-radius: 3px;
line-height: 1.2em;
border-color: #00D4FF;
}
.texteAuCentre{
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
}
.texteImportant{
	text-align: center;
	color:#398791;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
	font-size: 18px;
}
.NomPrenom{
	text-align: center;
	color:#753991;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
	font-size: 20px;
}
img{
	max-width: 150px;
	max-height: 150px;
}
tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th{
	display: table-cell;
    font-weight: bold;
    text-align: left;
}
tr{
	display: table-row;
    
}
td{
	display: table-cell;
}
.Conteneur{
display:flex;
flex-direction:column;
margin: 12px  auto auto 0px;
}
.BoxPhoto{
	/*height: 50px;
	width: 50px;*/
}
.photoUtilisateur{
	height: 120px;
	width: 120px;
}
.ConteneurCentral{
display: flex;
 flex-direction: column;
 flex: 1;
 border :2px solid #aaa;
 border-radius: 3px;
 border-color: #00D4FF;
 margin: 5px;
 padding: 10px;
}
.Titre{
	display: flex;
	flex-direction: column;
    justify-content: center;
	border :1px solid #753991;
	border-radius: 8px;
	background-color:#753991; 
}

.ConteneurInformationDeBase{
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.ConteneurInformationAvancee{
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.BoxPlusieursChamps{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 8px;
	margin-top: 8px;
}

.Entree{
	margin: auto;
}

.entreeDeTexte{
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
font-size:16px;
display:inline-block;
color:#222427;
border:2px solid #d9d9d9;
border-color:#3090E3;
border-radius:5px;
background:#fff
margin:10px;
width: 250px;
}